# Global owners
* @ravigithubcse

# Backend services
/backend/ @ravigithubcse

# Frontend
/frontend/ @ravigithubcse

# ML services
/ml-services/ @ravigithubcse

# Infrastructure
/infrastructure/ @ravigithubcse
